<!--Seleção da página-->
<!--se verdadeiro exibe p1 senão p2 -->
<span *ngIf="p1;then pagina1 else pagina2 "></span>

<!--quebra de linha-->
<hr>
<!--Seletor de paginas-->
<button (click)="alterarPagina()">Alterar página</button>


<!--Templates-->
<ng-template #pagina1>Pagina 01</ng-template><!--essa tag #pagina1  seria como se fosse uma variavel, ng-template tem o nome de #pagina-->
<ng-template #pagina2>Pagina 02</ng-template>


<hr>
<br>

<h1>{{nome | uppercase}}</h1>
<h2>{{nome | lowercase}}</h2>

<p>{{data1 | date }}</p>


<div>
  {{data1 | date : 'dd/MM/yyyy '}}
  <!-- 23/04/2021 07:00 -->
</div>